  <!-- Extra to make demo look nice -->
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Optional, if using highlight.js -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/github.min.css">

<div>
  <p>skill.html</p>
</div>

<div>
<div ng-app="ngEmoticonApp" ng-controller="ngEmoticonCtrl">

  <ng-embed embed-data="pdfText" embed-options="options"></ng-embed>

</div>
</div>

<!-- Required -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-sanitize.min.js"></script>
<script src="lib/ng-embed.min.js"></script>

